@import url("https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Anek Malayalam", sans-serif;
  background: #f8f9fa;
}

.header {
  font-size: 0.75em;
  background-color: #10502f;
  color: white;
  box-shadow: 0 2px 4px #888888;
  border-collapse: collapse;
}

.tabela-brasileirao {
  border: 1px solid #e9eaeb;
  border-top: none;
  border-bottom: none;
  width: 40vw;
  margin-left: 30%;
  border-collapse: collapse;
}

table {
  text-align: center;
  width: 100vw;
}

td {
  height: 50px;
  width: 104px;
  color: #9db7a9;
}

a {
  color: #9db7a9;
  text-decoration: none;
}

a:visited {
  color: #9db7a9;
  text-decoration: none;
}
.nav-conteudo-lateral {
  width: 200px;
}

#logo td {
  height: 48px;
  padding-top: 4px;
}

#tabela-brasileirao-header {
  background-color: #f1f3f4;
  text-align: left;
  color: #70758d;
  padding: 15px;
  padding-left: 20px;
  font-size: 00.75em;
}

.nav-destacado {
  border-bottom: #f8f9fa 3px solid;
  color: white;
}

.nav-destacado:hover {
  background-color: #0e482a;
}

.ano {
  font-weight: 600;
  color: #4285f4;
}
